<div class="columns is-vcentered is-centered" style="height: 100vh;">
    <div class="column is-6">
        <div class="card">
            <div class="card-content">
                <h2 class="has-text-centered" style="margin: 10px 0px;">Login</h2>
                <form >
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Usuario</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input class="input" type="text" placeholder="correo@domain.com">
                            </p>
                          </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Contraseña</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input class="input" type="text" placeholder="*********">
                            </p>
                          </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>